name: Build Helix (Windows)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: helix-editor/helix

      - name: Set git config for long paths
        run: git config --system core.longpaths true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add WASM target
        run: rustup target add wasm32-wasi

      - name: Install C++ build tools
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Run cargo build
        run: cargo build --release --locked --target x86_64-pc-windows-msvc

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: 'target\x86_64-pc-windows-msvc\release\hx.exe'

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: helix-windows
          path: target\x86_64-pc-windows-msvc\release\hx.exe
          retention-days: 1
